#chat-wrapper.chat-wrapper.shadow.border-top.border-left.border-right
  .chat-title-bar
    | Chat 
    span.chat-title-bar-close
      i.fas.fa-times-circle
  #chat.chat-log
  form#chatForm.chat-form.border-top
    input#chatField.chat-field(type='text' placeholder='Type a message…' autocomplete='off')