header.header-bar.mb-3
  .container.d-flex.flex-column.flex-md-row.align-items-center.p-3
    h4.my-0.mr-md-auto.font-weight-normal
      a.text-white(href='/') OurApp
    form.mb-0.pt-2.pt-md-0(action='/login' method='POST')
      .row.align-items-center
        .col-md.mr-0.pr-md-0.mb-3.mb-md-0
          input.form-control.form-control-sm.input-dark(name='username' type='text' placeholder='Username' autocomplete='off')
        .col-md.mr-0.pr-md-0.mb-3.mb-md-0
          input.form-control.form-control-sm.input-dark(name='password' type='password' placeholder='Password')
        .col-md-auto
          button.btn.btn-primary.btn-sm Sign In
