header.header-bar.mb-3
  .container.d-flex.flex-column.flex-md-row.align-items-center.p-3
    h4.my-0.mr-md-auto.font-weight-normal
      a.text-white(href='/') OurApp
    .flex-row.my-3.my-md-0
      a.text-white.mr-2.header-search-icon(href='#' title='Search' data-toggle='tooltip' data-placement='bottom')
        i.fas.fa-search
      span.text-white.mr-2.header-chat-icon(title='Chat' data-toggle='tooltip' data-placement='bottom')
        i.fas.fa-comment
        
      a.mr-2(id="mainDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href='#')
        img.dropdown-toggle(title='My Profile' data-placement='bottom' style='width: 32px; height: 32px; border-radius: 16px;' src='/uploads/'+session.user.avatar)
        .dropdown-menu(aria-labelledby="mainDropdown")
          a.dropdown-item(href="#" data-target="#avatarModal" data-toggle='modal') Change Avatar
          a.dropdown-item(href="#") Profile
          a.dropdown-item(href="#") My Posts
          
      a.btn.btn-sm.btn-success.mr-2(href='/create-post') Create Post
      form.d-inline(action='/logout' method='POST')
        button.btn.btn-sm.btn-secondary Sign Out