<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Complex App
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i' rel='stylesheet')
        link(rel='stylesheet' href='/vendor/font-awesome/css/all.min.css')
        link(rel='stylesheet' href='/css//bundle/main.bundle.css')
        link(rel='stylesheet' href='/css/main.css')

    body
        include mixins.pug
        if !session.user
            include partials/header.pug
        else
            include partials/header-loggedin.pug

        .container.py-md-5.container--narrow
            block content

        include partials/footer.pug

        include partials/search.pug
        #avatarModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#avatarModalLabel.modal-title Modal title
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                    .modal-body
                        form(id="avatarForm" action="/save-avatar" method="POST" enctype="multipart/form-data")
                            .form-group
                                label(for="avatar") Change Your Avatar
                                br
                                input(type="file" name="avatar" accept=".jpg,.png")
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary.btn-save-avatar(type="button") Save changes
        script(src="/js//bundle/vendor.bundle.js")
        script(src="/js//bundle/main.bundle.js")
        