extends ../master.pug

block content
    include ../partials/alert
    
    .text-center

        if(feeds && feeds.length > 0)
            h2 Your Feed
            +postList(feeds)
        else
            h2
                | Hello
            strong= session.user.username
                | , your feed is empty.
            p.lead.text-muted
                | Your feed displays the latest posts from the people you follow. If you don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo; feature in the top menu bar to find content written by people with similar interests and then follow them.
