extends ../master

block content
    include ../partials/alert

    h2
      img.avatar-small(src='/uploads/'+session.user.avatar alt="Avatar" srcset="")
      = session.user.username

    .profile-nav.nav.nav-tabs.pt-2.mb-4
      a.profile-nav-link.nav-item.nav-link.active(href="#") Posts: #{posts.length}
      a.profile-nav-link.nav-item.nav-link(href="#") Followers: 3
      a.profile-nav-link.nav-item.nav-link(href="#") Following: 2
    
    +postList(posts)
      